:root{
    --primary-dark: #000133;
    --primary-color: #0347FF;
}
body {
    background-color: var(--primary-dark);
    color: white;
}

  .aics {
    color: #fff5f5;
    text-align: center;
    font-family: "Inter-Regular", sans-serif;
    font-size: 128px;
    font-weight: 400;
    position: absolute;
    left: 320px;
    top: 151px;
    width: 732px;
    height: 176px;
  }
  .brief-desc  {
    color: #ffffff;
    text-align: justified;
    font-family: "Inter-Regular", sans-serif;
    font-size: 35px;
    font-weight: 400;
    position: absolute;
    left: 40px;
    top: 557px;
    width: 1278px;
    height: 110px;
    display: flex;
    align-items: center;
  }
  