:root {
  --primary-dark: #000133;
  --primary-color: #0347ff;
  --primary-light: #f0f0f0;
}
body {
  background-color: var(--primary-dark);
  color: white;
}
.aics {
  color: #fff5f5;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 128px;
  font-weight: 400;
  position: absolute;
  left: 320px;
  top: 100px;
  width: 732px;
  height: 176px;
}
.brief-desc  {
  color: #ffffff;
  text-align: justified;
  font-family: "Inter-Regular", sans-serif;
  font-size: 25px;
  font-weight: 400;
  position: absolute;
  left: 40px;
  top: 400px;
  width: 1278px;
  height: 100px;
  display: flex;
  align-items: center;
}

/* carousel 1 start */
@import url('https://fonts.cdnfonts.com/css/ica-rubrik-black');
@import url('https://fonts.cdnfonts.com/css/poppins');

.banner{
  width: 100%;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  position: relative;
  margin-top: 500px;
}
.banner .slider{
  position: absolute;
  width: 200px;
  height: 250px;
  top: 10%;
  left: calc(50% - 100px);
  transform-style: preserve-3d;
  transform: perspective(1000px);
  animation: autoRun 20s linear infinite;
  z-index: 2;
}
@keyframes autoRun{
  from{
      transform: perspective(1000px) rotateX(-16deg) rotateY(0deg);
  }to{
      transform: perspective(1000px) rotateX(-16deg) rotateY(360deg);
  }
}

.banner .slider .item{
  position: absolute;
  inset: 0 0 0 0;
  transform: 
      rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
      translateZ(380px);
}
.banner .slider .item img{
  width: 200px;
  height: 200px;
}
#item1 {
  transform: translateZ(300px);
  cursor: pointer;
}

#item1:hover {
  scale: 1.15;
}

#item2 {
  transform: rotateY(45deg) translateZ(300px);
  cursor: pointer;
}

#item2:hover {
  scale: 1.15;
}

#item3 {
  transform: rotateY(90deg) translateZ(300px);
  cursor: pointer;
}

#item3:hover {
  scale: 1.15;
}

#item4 {
  transform: rotateY(135deg) translateZ(300px);
  cursor: pointer;
}

#item4:hover {
  scale: 1.15;
}

#item5 {
  transform: rotateY(180deg) translateZ(300px);
  cursor: pointer;
}

#item5:hover {
  scale: 1.15;
}

#item6 {
  transform: rotateY(225deg) translateZ(300px);
  cursor: pointer;
}

#item6:hover {
  scale: 1.15;
}

#item7 {
  transform: rotateY(270deg) translateZ(300px);
  cursor: pointer;
}

#item7:hover {
  scale: 1.15;
}
#item8 {
  transform: rotateY(315deg) translateZ(300px);
  cursor: pointer;
}

#item8:hover {
  scale: 1.15;
}



@media screen and (max-width: 1023px) {
  .banner .slider{
      width: 160px;
      height: 200px;
      left: calc(50% - 80px);
  }
  .banner .slider .item{
      transform: 
          rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
          translateZ(300px);
  }
  .banner .content h1{
      text-align: center;
      width: 100%;
      text-shadow: 0 10px 20px #000;
      font-size: 7em;
  }
  .banner .content .author{
      color: #fff;
      padding: 20px;
      text-shadow: 0 10px 20px #000;
      z-index: 2;
      max-width: unset;
      width: 100%;
      text-align: center;
      padding: 0 30px;
  }
}
@media screen and (max-width: 767px) {
  .banner .slider{
      width: 100px;
      height: 150px;
      left: calc(50% - 50px);
  }
  .banner .slider .item{
      transform: 
          rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
          translateZ(250px);
  }
  .banner .content h1{
      font-size: 2em;
  }
}
/* carousel 1 end */
/* desc carousel 1 start */
.description-box {
  margin-top: 450px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: white;
  background-color: var(--primary-color);
  padding: 10px;
  border-radius: 8px;
  width: 80%;
  margin-inline: auto;
  display: none; 
}

.description-box.active {
  display: block; 
}
/* desc carousel 1 end */
/* carousel 2 start */
.carousel-caption {
  color: #ffffff;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}
.carousel-caption h3 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 10px;
}
.carousel-caption p {
  font-size: 16px;
  margin-left: 600px;
}
/* carousel 2 end */
/* feedback start */
.feedback-section{
  background-color: var(--primary-light);
  color: #333;
  height: 600px;
}
.feedback-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input-container {
  position: relative;
  margin: 20px 0;
  background-color: #f0f0f0;
}

.input-container input {
  width: 50%;
  padding: 12px 8px;
  font-size: 16px;
  border: 1px solid #111010;
  border-radius: 6px;
}

.input-container label {
  position: absolute;
  top: 12px;
  left: 8px;
  color: #999;
  font-size: 16px;
  pointer-events: none;
  transition: 0.2s ease all;
}

.input-container input:focus + label,
.input-container input:not(:placeholder-shown) + label {
  top: -8px;
  left: 8px;
  font-size: 12px;
  color: #333;
  background: #f0f0f0;
  padding: 0 4px;
}

/* feedback end */
/* footer start */
footer {
  background-color: var(--primary-dark);
  color: #ffffff;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  padding: 20px;
  text-align: center;
  position: relative;
  margin-top: 700px;
}
.footer-logo {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: var(--primary-dark);
}
#img1 {
  width: 75px;
  height: 75px;
  position: absolute;
  left: 795px;
  top: 0px;
  bottom: 20px;
}
#img2 {
  width: 75px;
  height: 75px;
  position: absolute;
  left: 480px;
  top: 0px;
  bottom: 20px;
}
/* footer end */
