html, body {
    height: 100%;
    margin: 0; 
  }
body {
  background: linear-gradient(rgba(0, 1, 51, 0.65), rgba(0, 1, 51, 0.65)),
    url("https://raw.githubusercontent.com/Beta-Tester-Max/Beta-Tester-Max.github.io/refs/heads/FE/img/bg1.png");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  color: white;
  position: relative;
}
