@import url('Global/root.css');
@import url('Global/nav.css');

body {
  min-width: 1150px;
}

.chart-container {
  box-sizing: border-box;
  width: 43.8em;
  height: 25em;
  padding: 20px;
  background: var(--bg);
  box-shadow: 0 0 2px var(--sfont), 0 0 4px var(--font);
  border-radius: 20px;
}

.chart {
  width: 100%;
  box-sizing: border-box;
}

canvas {
  background: transparent;
}