@import url("https://fonts.cdnfonts.com/css/roslindale");
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "roslindale", sans-serif;
  background-color: #333333;
  color: #ffffff;
}

html {
  overflow: hidden;
}
html:hover .top:before,
.container:hover .top:after,
.container:hover .bottom:before,
.container:hover .bottom:after,
.container:active .top:before,
.container:active .top:after,
.container:active .bottom:before,
.container:active .bottom:after {
  margin-left: 200px;
  transform-origin: -200px 50%;
  transition-delay: 0s;
}
html:hover .center,
.container:active .center {
  opacity: 1;
  transition-delay: 0.2s;
}

.top:before,
.top:after,
.bottom:before,
.bottom:after {
  content: "";
  display: block;
  position: absolute;
  width: 200vmax;
  height: 200vmax;
  top: 50%;
  left: 50%;
  margin-top: -100vmax;
  transform-origin: 0 50%;
  transition: all 0.5s cubic-bezier(0.445, 0.05, 0, 1);
  z-index: 10;
  opacity: 0.65;
  transition-delay: 0.2s;
}

.top:before {
  transform: rotate(45deg);
  background: #000000;
}
.top:after {
  transform: rotate(135deg);
  background: #000000;
}

.bottom:before {
  transform: rotate(-45deg);
  background: #000000;
}
.bottom:after {
  transform: rotate(-135deg);
  background: #000000;
}

.center {
  position: absolute;
  width: 400px;
  height: 400px;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.445, 0.05, 0, 1);
  transition-delay: 0s;
}

@keyframes gradient {
  to {
    background-position: 200%;
  }
}

.epic-hover-effect {
    margin: 0;
  font-size: 2rem;
  color: #ffffff;
  user-select: none;
  transition: 0.5s ease;
  background: transparent;
}

.epic-hover-effect:hover {
  color: transparent;
  background: linear-gradient(to right, #00ffff, #009efa, #00ffff, #009efa, #00ffff);
  background-size: 200%;
  background-clip: text;
  animation: gradient 2.5s linear infinite;
  scale: 1.3;
  transition: 0.5s ease;
  transform: rotate(360deg);
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}

.form__field {
  color: #ffffff;
  font-weight: 700;
  font-family: inherit;
  border: 0;
  border-bottom: 2px solid #ffffff;
  outline: 0;
  font-size: 1.3rem;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #ffffff;
}

.form__field:hover {
  color: #00ffff;
  border-image: linear-gradient(to right, #00ffff, #009efa);
  border-image-slice: 1;
}
.form__field:hover ~ .form__label {
  color: #00ffff;
}

.form__field:focus {
  color: #00ffff;
  padding-bottom: 6px;
  border-width: 3px;
  border-image: linear-gradient(to right, #00ffff, #009efa);
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #00ffff;
  font-weight: 700;
}

.form__field:required,
.form__field:invalid {
  box-shadow: none;
}

.btn {
  font-family: inherit;
  font-weight: 700;
  width: 100%;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 0.5em;
  font-size: 2em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  transition: 0.5s ease;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 0 6px rgba(0, 255, 255, 0.33);
  transform: translateY(-8px);
  background: linear-gradient(to right, #00ffff, #009efa, #00ffff, #009efa, #00ffff);
  background-size: 200%;
  animation: gradient 2.5s linear infinite;
  border: 1px solid #333333;
  color: #333333;
  transition: 0.5s ease;
}

.btn:active {
  box-shadow: none;
  transform: translateY(0px);
  transition: 0.5s ease;
}
